*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #222;
    overflow: hidden;
    border-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
    background-size: 4vh 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor
{
    position: absolute;
}